body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
}

.sign_page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.sign_page .container_sign {
  background-color: #FFFFFF;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #777777;
  padding: 25px 40px;
  border-radius: 10px;
  width: 300px;
  height: 360px;
  box-shadow: 0 0 20px -10px;
}
.sign_page .container_sign .signin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sign_page .container_sign .signin input {
  font-size: 14px;
  width: 100%;
  padding: 10px;
  margin: 2px 0 16px;
  border: #AAAAAA solid 1px;
  box-sizing: border-box;
  border-radius: 4px;
}
.sign_page .container_sign .signin input:focus {
  outline: none;
}
.sign_page .container_sign .signin .signin_button {
  color: #FFFFFF;
  background-color: #5AAC44;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 9px 0;
  margin: 2px 0 16px;
  border-radius: 4px;
  font-size: 16px;
}
.sign_page .container_sign .signin p {
  color: #AAAAAA;
  margin-bottom: 16px;
  margin-top: 0px;
  font-weight: 50;
  font-size: 14px;
}
.sign_page .container_sign .signin .signin_google_button {
  background-color: #FA4E43;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 9px 0;
  margin: 2px 0 16px;
  border-radius: 4px;
  font-size: 16px;
}
.sign_page .container_sign .signin .signin_google_button i {
  margin-right: 10px;
}
.sign_page .container_sign .signin .signin_register {
  color: #0079C1;
  font-size: 14px;
}
.sign_page .container_sign .signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #777777;
}
.sign_page .container_sign .signup input {
  font-size: 14px;
  width: 100%;
  padding: 10px;
  margin: 2px 0 16px;
  border: #AAAAAA solid 1px;
  box-sizing: border-box;
  border-radius: 4px;
}
.sign_page .container_sign .signup input:focus {
  outline: none;
}
.sign_page .container_sign .signup .signup_button {
  color: #FFFFFF;
  background-color: #5AAC44;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 9px 0;
  margin: 2px 0 16px;
  border-radius: 4px;
  font-size: 16px;
}
.sign_page .container_sign .signup .cancel_signup_button {
  color: #777777;
}

.nav_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 25px;
  padding-left: 25px;
  background-color: #0B577C;
}
.nav_content .app_name {
  color: #FFFFFF;
  font-weight: bolder;
  font-size: 25px;
  text-decoration: none;
}
.nav_content .addTask_button {
  color: #FFFFFF;
  background-color: #0B577C;
  border-radius: 4px;
  padding: 9px 18px;
  margin-left: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.nav_content .addTask_button:hover {
  color: #FFFFFF;
  background-color: #0079C1;
}
.nav_content .signout_button {
  color: #AAAAAA;
  background-color: #0B577C;
  border-radius: 4px;
  padding: 9px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.nav_content .signout_button:hover {
  color: #FFFFFF;
  background-color: #FA4E43;
}

.main_page {
  background-color: #0079C1;
  height: 100vh;
}
.main_page .container_main {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.main_page .container_main .board {
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  width: 100%;
}
.main_page .container_main .board .board_category {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  background-color: #AAAAAA;
}
.main_page .container_main .board .board_category .icon {
  color: #FFFFFF;
}
.main_page .container_main .board .board_category .board_title {
  font-weight: bold;
  color: #FFFFFF;
}
.main_page .container_main .board .board_content {
  display: flex;
  flex-direction: column;
  padding: 5px;
  background-color: #EAEAEA;
}
.main_page .container_main .board .board_content .def_card {
  display: flex;
  justify-content: center;
  padding: 20px;
  color: #AAAAAA;
}
.main_page .container_main .board .board_content .card {
  background-color: #FFFFFF;
  color: #000000;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
}
.main_page .container_main .board .board_content .card .task_title {
  font-size: 15px;
  margin: 5px;
  color: #000000;
}
.main_page .container_main .board .board_content .card .task_desc {
  color: #777777;
  font-size: 12px;
  margin: 5px;
}
.main_page .container_main .board .board_content .card .task_footer {
  display: flex;
  justify-content: space-between;
}
.main_page .container_main .board .board_content .card .task_footer .info .email {
  font-size: 10px;
  margin: 5px;
}
.main_page .container_main .board .board_content .card .task_footer .info .date {
  font-size: 10px;
  margin: 5px;
}
.main_page .container_main .board .board_content .card .task_footer .crud {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  font-size: 15px;
  margin: 5px;
}
.main_page .container_main .board .board_content .card .task_footer .crud a {
  color: #AAAAAA;
}
.main_page .container_main .board .board_content .card .task_footer .crud a i {
  margin-left: 10px;
}
.main_page .container_main .board .board_content .card .task_footer .crud a .fa-refresh:hover {
  color: #5AAC44;
}
.main_page .container_main .board .board_content .card .task_footer .crud a .fa-pencil:hover {
  color: #FFBB19;
}
.main_page .container_main .board .board_content .card .task_footer .crud a .fa-trash:hover {
  color: #FA4E43;
}

/*# sourceMappingURL=style.css.map */
